.mainRegister {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainRegister .art {
  width: 592px;
  height: 740px;
  background-color: var(--accent);
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 592px;
  height: 740px;
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 0px 20px 20px 0px;
  padding: 102px;
}

.register form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.register form h1 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 12px;
}

.register .input-field {
  position: relative;
  width: 100%;
  height: 48px;
}

.register .input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 44px;
}

.register .input-field input::placeholder {
  color: var(--border);
}

.register .input-field .icon {
  width: 24px;
  position: absolute;
  right: 350px;
  top: 50%;
  transform: translateY(-50%);
}

.register input[type="date"] {
  color: var(--border);
}

.register input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    color: red;
}

.register input::placeholder {
  color: var(--secondary-text);
}

.register .terms {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.register .terms label {
  display: flex;
  align-items: center;
}

.register .terms input#terms {
  appearance: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-right: 6px;
}

.register .enter {
  width: 100%;
  height: 48px;
  margin: 12px;
}

.register .enter button {
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  color: var(--bg);
  font-size: 20px;
  font-weight: 500;
}

.register .enter button:hover {
  background-color: var(--accent);
  opacity: 90%;
  color: var(--bg);
  cursor: pointer;
}

.register .signup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.register a {
  text-decoration: none;
  color: var(--accent);
}

.register a:hover {
  opacity: 70%;
}